# Coloque as informações referentes ao seu banco de dados no arquivo .env, com base na database_url abaixo. 
# Exemplo: database será o nome do seu database no .env, password será a sua senha pessoal no .env, etc.
# Lembre-se de retirar os símbolos de "menor que" e "maior que" no seu .env

DATABASE_URL="postgresql://user:password@host:port/database?schema=public"